.navig {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
    background-color: rgba(250, 235, 215, 1);
    width: 100%;

}

.nav_a {
    padding: 30px;
    background-color: rgba(250, 235, 215, 0.5);
    margin-right: 5px;
    cursor: pointer;
}

.nav_a:hover {
    background-color: rgba(211, 203, 193, 0.5);
}

.navLogo {
    display: flex;
    padding: 30px;
    margin-right: 60px;
    background-color: rgba(250, 235, 215, 0.5);
}

.nav_a:link, .nav_a:visited {
    text-decoration: none;
    color: black;
}
